@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	
}

:root {
	--primary: #1d6a96;
	--blue: #85b8cb;
	--light:#d1dddb;
    --text: #283b42;
	--white: #fff;
	--dark: #000;
	--red: #FC3B56;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
label{
    font-weight: bold;
  
    
}
label:hover{
        color: var(--primary);
}